*{
    font-family: 'Public Sans', sans-serif;
}
body{
    width: 100%;
    max-width: 830px;
}
img {
    max-width: 100%;
}
header  {
    width: 100%;
    height: 45px;
    padding: 25px 0;
    background-color:white;
    position: relative;
    z-index: 999;
margin-top: -7px;}



    .navul{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 40px;
        background-color: white;
        border: 1px solid  skyblue;
        border-radius: 30px;
        transform: translateY(-200%);
        transition: all 0.5s;
        z-index: 999;}

        .btn{
            display:none;
        }
        nav {
    
            justify-content: space-between;
            align-items: center;
    
            padding-bottom: 1em;
            margin:0 auto;
            width: 80%;
          }
          nav li{
              list-style: none;
          }
          .hamburger1{
            display: inline-block;
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;}
            .logo{
                height: 23px;
            }
           .check1{
               display: none;
               /* display: none; */
           }
           .navul li{
            padding: 1rem 0;
        font: 16px; 
        text-align: center;  
       
    
    }
     .navbarlink:hover{
        background-image: linear-gradient(hsl(136, 65%, 51%)
         hsl(192, 70%, 51%));
    }

  li a{
      color: hsl(233, 26%, 24%);
      font-weight: 450;
  }
  /* li a:hover{
      color:  hsl(136, 65%, 51%);
  } */
  

  nav ul li a::before
  {opacity: 0;

  }
  #toggle:checked ~ .navul{
    transform: translateY(1%);
  }
 #toggle:checked ~ .hamburger1{
      border: 4px solid rgb(0, 81, 255);
      border-radius: 10px;
      padding: .4rem;
  }
  .welcsection{
       display: flex;
       flex-direction: column-reverse;
   }
   .welcomeimg{
       display: inline-block;
       text-align: center;
       /* height: 50rem; */
       background-image: url(./images/bg-intro-mobile.svg);
       background-repeat: no-repeat;
       background-size: cover;
   }
   .welcomeimg img{
    width: 100%;
    height: 25rem;
    transform: translateY(-6rem);
    /* padding-right: 16%; */
}
.welcomeimg::before{
    content: "";
    position: absolute;
    top: -14rem;
    right: 0;
    width: 63rem;
height: 71rem;

/* background-repeat: no-repeat;
background-size: cover; */
}
.text h1{
    font-size: 36px;
    font-weight: normal;
    color: hsl(233, 26%, 24%);
    line-height: 50px;
    text-align: center;
}
.text h1 span{
    display: inline-block;
    /* justify-content: center n; */
}
.heading-secondary {
    text-align: center;
}
.parr{
    text-align: center;
}


/****** MEDIA QUERRY ******/
/****** MEDIA QUERRY ******/
/****** MEDIA QUERRY ******/
/****** MEDIA QUERRY ******/
/****** MEDIA QUERRY ******/
@media screen and (min-width:600px){
    .btn{
        font-size: 16px;
         color: white;
         font-weight: 700;
         text-decoration: none;
         background-color: rgb(1, 245, 143);
         padding: 1.3rem 3rem;
         border-radius: 50px;
         /* background-image: linear-gradient(lime-green: hsl(136, 65%, 51%));
         background-repeat: no-repeat; */
     }   
     nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo{
        height: 23px;
    }
   .check1{
       display: none;
       /* display: none; */
   }
   .hamburger1{
       display: none;
       /* visibility: hidden; */
   }

.logo_design{
    padding: 1em;
    pa
}

}
    

   

        